<footer>
  <small>
    <span>Built with distaste by team <a href="http://hackatron.org">Hackatron</a></span>
    <br>
    <span>The team:
      <ul class='team-list'>
        <li><a href="http://twitter.com/bugant">@bugant</a></li>
        <li><a href="http://twitter.com/bugduino">@bugduino</a></li>
        <li><a href="http://twitter.com/m3nTe">@m3nTe</a></li>
        <li><a href="http://twitter.com/johnnyaboh">@johnnyaboh</a></li>
      </ul>
    </span>
  </small>
</footer>