<div class="highlight"><pre><span class="p">{</span>
  <span class="s2">&quot;name&quot;</span><span class="o">:</span> <span class="s2">&quot;Redis&quot;</span><span class="p">,</span>
  <span class="s2">&quot;description&quot;</span><span class="o">:</span> <span class="s2">&quot;Redis is an open source, BSD licensed, advanced key-value store.&quot;</span><span class="p">,</span>
  <span class="s2">&quot;author&quot;</span><span class="o">:</span> <span class="p">{</span>
    <span class="s2">&quot;name&quot;</span><span class="o">:</span> <span class="s2">&quot;Salvatore Sanfilippo&quot;</span><span class="p">,</span>
    <span class="s2">&quot;email&quot;</span><span class="o">:</span> <span class="s2">&quot;redis-db@googlegroups.com&quot;</span>
  <span class="p">},</span>
  <span class="s2">&quot;languages&quot;</span><span class="o">:</span> <span class="p">[</span><span class="s2">&quot;C&quot;</span><span class="p">],</span>
  <span class="s2">&quot;keywords&quot;</span><span class="o">:</span> <span class="p">[</span><span class="s2">&quot;redis&quot;</span><span class="p">,</span> <span class="s2">&quot;key-value&quot;</span><span class="p">,</span> <span class="s2">&quot;in-memory&quot;</span><span class="p">,</span> <span class="s2">&quot;database&quot;</span><span class="p">],</span>
  <span class="s2">&quot;homepage&quot;</span><span class="o">:</span> <span class="s2">&quot;http://redis.io&quot;</span><span class="p">,</span>
  <span class="s2">&quot;paypal_email&quot;</span><span class="o">:</span> <span class="s2">&quot;example@gmail.com&quot;</span><span class="p">,</span>
  <span class="s2">&quot;donation_packages&quot;</span><span class="o">:</span> <span class="p">[</span>
    <span class="p">{</span>
      <span class="s2">&quot;name&quot;</span><span class="o">:</span> <span class="s2">&quot;Fan&quot;</span><span class="p">,</span>
      <span class="s2">&quot;description&quot;</span><span class="o">:</span> <span class="s2">&quot;Help us with hosting stuff.&quot;</span><span class="p">,</span>
      <span class="s2">&quot;amount&quot;</span><span class="o">:</span> <span class="s2">&quot;5.00&quot;</span>
    <span class="p">},</span>
    <span class="p">{</span>
      <span class="s2">&quot;name&quot;</span><span class="o">:</span> <span class="s2">&quot;Supporter&quot;</span><span class="p">,</span>
      <span class="s2">&quot;description&quot;</span><span class="o">:</span> <span class="s2">&quot;You love this project and use Redis everyday.&quot;</span><span class="p">,</span>
      <span class="s2">&quot;amount&quot;</span><span class="o">:</span> <span class="s2">&quot;20.00&quot;</span>
    <span class="p">}</span>
  <span class="p">]</span>
<span class="p">}</span>
</pre></div>
