<div class="highlight"><pre><span class="p">{</span>
  <span class="s2">&quot;name&quot;</span><span class="o">:</span> <span class="s2">&quot;Source Lovers&quot;</span><span class="p">,</span>
  <span class="s2">&quot;description&quot;</span><span class="o">:</span> <span class="s2">&quot;Found raising the hacker way&quot;</span><span class="p">,</span>
  <span class="s2">&quot;version&quot;</span><span class="o">:</span> <span class="s2">&quot;1.0&quot;</span><span class="p">,</span>
  <span class="s2">&quot;keywords&quot;</span><span class="o">:</span> <span class="p">[</span><span class="s2">&quot;source&quot;</span><span class="p">,</span> <span class="s2">&quot;lovers&quot;</span><span class="p">],</span>
  <span class="s2">&quot;homepage&quot;</span><span class="o">:</span> <span class="s2">&quot;http://sourcelove.rs&quot;</span><span class="p">,</span>
  <span class="s2">&quot;packages&quot;</span><span class="o">:</span> <span class="p">[</span>
    <span class="p">{</span>
      <span class="s2">&quot;name&quot;</span><span class="o">:</span> <span class="s2">&quot;Friend&quot;</span><span class="p">,</span>
      <span class="s2">&quot;description&quot;</span><span class="o">:</span> <span class="s2">&quot;Help us with hosting stuff.&quot;</span><span class="p">,</span>
      <span class="s2">&quot;amount&quot;</span><span class="o">:</span> <span class="s2">&quot;10.00&quot;</span>
    <span class="p">},</span>
    <span class="p">{</span>
      <span class="s2">&quot;name&quot;</span><span class="o">:</span> <span class="s2">&quot;Lover&quot;</span><span class="p">,</span>
      <span class="s2">&quot;description&quot;</span><span class="o">:</span> <span class="s2">&quot;description&quot;</span><span class="p">,</span>
      <span class="s2">&quot;amount&quot;</span><span class="o">:</span> <span class="s2">&quot;50.00&quot;</span>
    <span class="p">}</span>
  <span class="p">]</span>
<span class="p">}</span>
</pre></div>
