<div class="highlight"><pre><span class="p">{</span>
  <span class="s2">&quot;name&quot;</span><span class="o">:</span> <span class="s2">&quot;Tomatoes&quot;</span><span class="p">,</span>
  <span class="s2">&quot;description&quot;</span><span class="o">:</span> <span class="s2">&quot;A Pomodoro technique® driven time tracker.&quot;</span><span class="p">,</span>
  <span class="s2">&quot;author&quot;</span><span class="o">:</span> <span class="p">{</span>
    <span class="s2">&quot;name&quot;</span><span class="o">:</span> <span class="s2">&quot;Giovanni Cappellotto&quot;</span>
  <span class="p">},</span>
  <span class="s2">&quot;languages&quot;</span><span class="o">:</span> <span class="p">[</span><span class="s2">&quot;ruby&quot;</span><span class="p">],</span>
  <span class="s2">&quot;version&quot;</span><span class="o">:</span> <span class="s2">&quot;0.6.70&quot;</span><span class="p">,</span>
  <span class="s2">&quot;keywords&quot;</span><span class="o">:</span> <span class="p">[</span><span class="s2">&quot;pomodoro&quot;</span><span class="p">,</span> <span class="s2">&quot;timer&quot;</span><span class="p">,</span> <span class="s2">&quot;tracker&quot;</span><span class="p">,</span> <span class="s2">&quot;tomatoes&quot;</span><span class="p">],</span>
  <span class="s2">&quot;homepage&quot;</span><span class="o">:</span> <span class="s2">&quot;http://tomato.es&quot;</span><span class="p">,</span>
  <span class="s2">&quot;paypal_email&quot;</span><span class="o">:</span> <span class="s2">&quot;potomak84@gmail.com&quot;</span><span class="p">,</span>
  <span class="s2">&quot;donation_packages&quot;</span><span class="o">:</span> <span class="p">[</span>
    <span class="p">{</span>
      <span class="s2">&quot;name&quot;</span><span class="o">:</span> <span class="s2">&quot;Friend&quot;</span><span class="p">,</span>
      <span class="s2">&quot;description&quot;</span><span class="o">:</span> <span class="s2">&quot;Help us with hosting stuff.&quot;</span><span class="p">,</span>
      <span class="s2">&quot;amount&quot;</span><span class="o">:</span> <span class="s2">&quot;5.00&quot;</span>
    <span class="p">},</span>
    <span class="p">{</span>
      <span class="s2">&quot;name&quot;</span><span class="o">:</span> <span class="s2">&quot;Supporter&quot;</span><span class="p">,</span>
      <span class="s2">&quot;description&quot;</span><span class="o">:</span> <span class="s2">&quot;You love this project and use Tomato.es everyday.&quot;</span><span class="p">,</span>
      <span class="s2">&quot;amount&quot;</span><span class="o">:</span> <span class="s2">&quot;20.00&quot;</span>
    <span class="p">}</span>
  <span class="p">]</span>
<span class="p">}</span>
</pre></div>
