<section>
  <div class="row collapse intro-wrapper">
    <div class="large-12 medium-12 small-12 columns">
      <div class="row collapse">
        <div class="large-10 medium-11 small-12 large-centered small-centered medium-centerted columns">
          <p class="intro roboto-thin">
            The hacker way to fund raising.
            <br />
            The hacker way to fund raising.
            <br />
            <button class="">Discover More</button>
          <p>
        </div>
      </div>
    </div>
  </div>
</section>