<section class="mainsection">
  <div class="row collapse intro-wrapper">
    <div class="large-12 medium-12 small-12 columns">
      <div class="row collapse">
        <div class="large-10 medium-11 small-12 large-centered small-centered medium-centerted columns">
          <p class="intro roboto-thin">
            The hacker way to fund raising.
            <br />
          <p>
          <p class="subintro roboto-thin">
            The easiest way to build a donation page for you project.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="secondsection">
  <div class="row collapse">
    <div class="large-12 medium-12 small-12 columns">
      <div class="row collapse">
        <div class="large-10 medium-11 small-12 large-centered small-centered medium-centerted columns intro-wrapper">
          <h1 class="roboto-thin"> How it works </h1>
        </div>

        <div class="large-10 medium-11 small-12 large-centered small-centered medium-centerted columns">
          <h3 class="roboto-thin"> Step 1</h3>
          <h5 class="roboto-thin"> Create a manifest file as follow:</h5>
          <code>
            <div class="highlight"><pre><span class="kd">var</span> <span class="nx">a</span> <span class="o">=</span> <span class="nx">get</span><span class="p">(</span><span class="s2">&quot;myimage&quot;</span><span class="p">)</span></pre></div>
          </code>

          <h3 class="roboto-thin"> Step 2:</h3>
          <h5 class="roboto-thin"> Set up the web hook:</h5>
          <code>
            <div class="highlight"><pre><span class="kd">var</span> <span class="nx">a</span> <span class="o">=</span> <span class="nx">get</span><span class="p">(</span><span class="s2">&quot;myimage&quot;</span><span class="p">)</span></pre></div>
          </code>

          <h3 class="roboto-thin"> Step 3:</h3>
          <h5 class="roboto-thin last-step"> Push you code and start getting support!</h5>

        </div>
      </div>
    </div>
  </div>
</section>