<% content_for :title do %>
  Documentation
<% end %>

<div class="row">
  <div class="large-12 medium-12 small-12 columns">
    <h1>Documentation</h1>

    <p>Introduce documentation page</p>

    <h3>Source Lovers manifest specification</h3>

    <p>
      It should be a JSON file.
    </p>

    <h5>Format</h5>

    <dl>
      <dt><code>attribute</code></dt>
      <dd>Definition</dd>
    </dl>

  </div>
</div>