<% content_for :title do %>
  Documentation
<% end %>

<div class="row">
  <div class="large-12 medium-12 small-12 columns">
    <h1>Documentation</h1>

    <p>Introduce documentation page</p>

    <h3>Source Lovers manifest specification</h3>

    <p>
      It should be a JSON file.
    </p>

    <h5>Format</h5>

    <dl>
      <dt><code>name</code> (required)</dt>
      <dd>The name of the project</dd>
    </dl>
    <dl>
      <dt><code>description</code> (required)</dt>
      <dd>The project description</dd>
    </dl>
    <dl>
      <dt><code>author</code> (required)</dt>
      <dd>The author of the project. Author is a JSON object with two field: name and email</dd>
    </dl>
    <dl>
      <dt><code>languages</code> (required)</dt>
      <dd>A list of comma separated programming languafes used by the project</dd>
    </dl>
    <dl>
      <dt><code>version</code></dt>
      <dd>The latest stable version of the project</dd>
    </dl>
    <dl>
      <dt><code>homepage</code></dt>
      <dd>The URL of the project's homepage</dd>
    </dl>
    <dl>
      <dt><code>repository</code></dt>
      <dd>The URL of the git repository for the project</dd>
    </dl>
    <dl>
      <dt><code>documentation</code></dt>
      <dd>A link to the project's documentation</dd>
    </dl>
    <dl>
      <dt><code>bug</code></dt>
      <dd>The URL to the project's bug list</dd>
    </dl>
    <dl>
      <dt><code>license</code></dt>
      <dd>The license under which the project is released</dd>
    </dl>
    <dl>
      <dt><code>maintainers</code></dt>
      <dd>An array of people collaborating on the project. Each personr is a JSON object with two field: name and email</dd>
    </dl>
    <dl>
      <dt><code>contributors</code></dt>
      <dd>An array of people occasionally collaborating on the project. Each personr is a JSON object with two field: name and email</dd>
    </dl>
    <dl>
      <dt><code>donation_packages</code></dt>
      <dd>An array of donation packages. Each package is a JSON object made of a name, a description and amount fields</dd>
    </dl>
    <dl>
      <dt><code>paypal_email</code></dt>
      <dd>The email associated to the PayPal account used to raise donations</dd>
    </dl>
  </div>
</div>
