<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Version:</strong>
  <%= @project.version %>
</p>

<%= link_to 'Back', projects_path %>
