ol {
  list-style: none;
  li {
    .author {
      text-align: center;
      img {
        border-radius: 15px;
        width: 80px;
      }
    }

    .project-block {
      border: 1px solid #eee;
      padding: 10px !important;
      border-radius: 5px;
      margin-bottom: 10px;
    }
  }
}

.pagination {
  text-align: center !important;
}

.no-projects {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 70px;
}