// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$logo: #eb6156;
$bg: #444444;
$border: #111111;
$text: white;

html {
  background-image: url('bg.jpg');
}

.logo {
  font-family: 'Lobster', cursive;
  color: $logo;
  text-shadow: -1px -1px #222;
}

header {
  box-shadow: 1px 10px 10px #333333;
  background-image: url('bg.jpg');
  z-index: 300;
}

.roboto-thin {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

nav ul li {
  font-size: 1.5em;
  list-style-type: none;
  color: $text;
  float: right;
  padding: 0.5em;
  padding-left: 0.8em;
}

section.mainsection {
  height: 25em;
  background-image: url('tile.jpg');
}

.intro {
  font-size: 3em;
  color: #333333;
  line-height: 1.5em;
  text-transform: uppercase;
}

.intro-wrapper {
  padding-top: 4em;
}

.subintro {
  font-size: 2em;
  background-image: url('tile.jpg');
}

section.secondsection {
  background-image: url('bg.jpg');
}

h1.roboto-thin, h3.roboto-thin, h5.roboto-thin {
  color: white;
}

.last-step {
  margin-bottom: 4em; 
}